.title{
  text-align: center;
}

.profile{
  border: 1px solid  #dcdcdc;
  padding: 12px;
  position: relative;
  margin-top: 20px;
}

.profile-title{
  position: absolute;
  top: 23px;
  left: 95px;
}

.profile-title p {
  margin-top: -2px;}

  .right-layout{
    margin-top: 30px;
    padding-left: 10px;
  }

 